.div2{
    font-size: 30px;
    padding-left: 100px;
    padding-top: 2px;
    padding-right: 100px;
}
.about{
    font-weight: 500;
    font-size: 100px;
    padding-left: 100px;
    padding-top: 100px;

}